<div data-controller="roulettes" class="container shadow-sm bg-white p-3 mt-3">
    <h2>Sélection du copain de bar:</h2>
    <canvas id="canvas" width="500" height="500" data-roulettes-target="canvas"></canvas>
    <input type="button " class="btn btn-dark p-5" value="La roulette, la roulette !" style="float:left;" data-action="click->roulettes#spin" />
</div>
