

<div class="container">
<div class="card-trip-dark  ">

   <%= booking.wine.photo.attached? ? cl_image_tag(booking.wine.photo.key, :crop => "fill") : image_tag('booking.png', width: 250, height: 250) %>


  <div class="card-trip-dark-infos">
    <div>
      <%= link_to booking.wine.name, booking_path(booking)%>
       <%= image_tag 'vignette_approuved.png',class:"card-trip-user avatar "%>
     </div>

        </div>
      </div>
    </div>
