<div class="container shadow-sm mt-2 bg-light">
  <div class="row">
    <div class="wines col-md-6">
      <h3 class="text-center">Mes vins à vendre</h3>
      <%= link_to "Ajouter une offre", new_wine_path, class:"btn btn-add mt-2 mx-auto d-block " %>
      <div class="d-flex flex-column gap-3">
          <% current_user.wines.each do |wine| %>
              <%= render partial: "dashboards/my_wine_card", locals: {wine: wine} %>
          <% end %>
      </div>
    </div>

    <div class="bookings col-md-6">
      <h3 class="text-center">Mes commandes</h3>
      <%= link_to "Ajouter une réservation", new_wine_booking_path, class:"btn btn-add mt-2 mx-auto d-block " %>
      <% if @bookings.blank? %>
        <p class="text-center mt-5">vous n'avez pas de commande en cours</p>
      <% else %>
        <div class="d-flex flex-column gap-3">
          <% @bookings.each do |booking| %>
              <%= render partial: "dashboards/my_wine_booking", locals: {wine: booking.wine} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
