.banner {
  background-size: cover;
  background-position: center;
  padding: 90px ;
  width: 100%;

}

.banner h1 {
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
}

.banner h3 {

  padding: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
