.btn-add {
    color: $white;
    background-color: $black;
    border-radius: 30px;
    padding: 10px;


    &:hover {
      color : $white;
      background-color: $bordeaux;
  }
}

.hover-youtube {
  &:hover{
    color: #FD1015 ;
  }
}

.hover-instagram {
  &:hover{
  color: #cc2366;
  }
}
