.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map {
  border-radius: 10px; // Remplacez la valeur selon vos préférences
  overflow: hidden; // Assurez-vous que le contenu de la carte est bien coupé selon le border-radius
}
