.my-wine-card {
  border: 1px #ccc;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;

  img {

    padding-top: 10px;
    width: 150px;
    height: 150px;
  }

  p {
    color: #666;
    margin-bottom: 8px;


    strong {
      font-weight: bold;
      color: #444;
    }
  }

  a {
    color : $black;

    &:hover {
      color : $bordeaux;
    }
  }

  .price {
    font-size: 24px;
    }

  .avatar {
    border-radius: 50%;
  }
}

.wine-cover {
  background-size: cover;
  width: 250px;
  height: 250px;
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;

  }

}
