<div class="container p-5 m-0 mx-auto bg-light">
  <div data-controller="search">
      <%# <div class="bannerimage"> %>
      <%# </div> %>
      <div id="container wine-search-container p-0 m-0" class="border-bottom">
      <h2>Recherche</h2>
      <input type="text" id="wine-search-input" class="input-group mb-3" data-search-target="search" data-action="input->search#search">
      </div>
        <div class="container py-2 m-0">
          <h3>Liste des vins disponibles à la vente</h3>
              <div class="row justify-content-between">
                  <% @wines.each do |wine| %>
                      <%= render partial: "pages/wine_card", locals: {wine: wine} %>
                  <% end %>

              </div>
    </div>

  </div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
