<div>
<%= link_to "Ajouter une offre (à supprimer dans les prochaines versions)", new_wine_path, class:"btn btn-dark" %>
<br>
<br>
</div>

<div data-controller="search">
  <div id="container wine-search-container p-3 m-3">
  <h2>Recherche</h2>
  <input type="text" id="wine-search-input" class="input-group mb-3" data-search-target="search" data-action="input->search#search">
</div>
    <h3>Liste des vins disponibles à la vente</h3>
      <div class="container p-0 m-0">
        <div class="row justify-content-between">
            <% @wines.each do |wine| %>
                <%= render partial: "pages/wine_card", locals: {wine: wine} %>
            <% end %>

        </div>
      </div>

</div>
</div>
